<!-- <input type="text" [value]="username" (input)="username = $event.target.value">
<span>{{username}}</span> -->

<!-- <input type="text" [(ngModel)]="username">
<span>{{username}}</span>

<div (click)="handleClick()">
  {{result}}
</div> -->


<div
  class="container"
  [ngStyle]="{
    'grid-template-rows': templateRows,
    'grid-template-columns': templateColumns
  }"
  (scroll)="handleScroll($event)"  
>
  <ng-container></ng-container>
</div>

<div class="underline" *ngIf="scrollable">
  <div class="highlight" [ngStyle]="{'margin': sliderMargin}"></div>
</div>